<mat-sidenav-container
    class="example-container" (backdropClick)="close('backdrop')" style="height: 100%;">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <app-side-menu (sidenavToggle)="sidenav.toggle()"></app-side-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (height)="marginTop=$event" (sidenavToggle)="sidenav.toggle()"></app-header>
    <main>
      <div [ngStyle]="{'margin-top': marginTop}">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>